<br />

<div class="course-box col-10 offset-1">
  <h1>About the Flixter Project</h1>
  <br />
  <p>
    This iteration of Flixter was developed by Devan Potter-Bonar, as part of the University of Toronto Online Coding Bootcamp.
  </p>
</div>