<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
	<br />
		<h1>Become world-class</h1>
		<br />
		<h2>Grow your knowledge and enhance your skills</h2>
		<br />
		<%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
		<br class="clear" />
		<br />
	</div>
</div>
<br /><br />
<div class="row feature text-center">
  <div class="feature-box col-12 second col-sm">
    <h3>Develop Your Skills</h3>
		<p>Participate in interactive workshops. Together we can help you improve your output and achieve lasting results.</p>
  </div>
  <div class="feature-box col-12 first col-sm">
    <h3>Strengthen Your Relationships</h3>
		<p>With coaching and facilitation options, we can help you build relationships with your collages based on mutual understanding and respect.</p>
  </div>

  <div class="feature-box col-12 third col-sm">
    <h3>Define Your Purpose</h3>
		<p>Reshape your organizational culture around the principles of Purposeful Leadership and establish conscious practices that all your stakeholders can get behind.</p>
  </div>
</div>