<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
	<br />
		<h1>See the world...</h1>
		<br />
		<h2>without a plane ticket!</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
		<br class="clear" />
		<br />
	</div>
</div>
<br />
<div class="row feature text-center">
  <div class="feature-box col-12 second col-sm">
    <h3>Find Hidden Gems</h3>
		<p>From the best dives serving local delicacies. See the hidden treasures that locals love to keep secret.</p>
  </div>
  <div class="feature-box col-12 first col-sm">
    <h3>Experience</h3>
		<p>Explore worldclass tourist attractions without the hassel of large crowds.</p>
  </div>

  <div class="feature-box col-12 third col-sm">
    <h3>Discover Different Cultures</h3>
		<p>Learn about the customs and culture of people from around the golbe.</p>
  </div>
</div>