@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body {
  background: image_url('background.png');
}
::selection {
  background-color: grey;
  color: blue;
}
.navbar-brand {
    color: white;
    font-family: 'Gochi Hand', cursive;
    text-shadow: 2px 2px blue;
    letter-spacing: 4px;
}
.navbar-brand:hover, .navbar-brand:hover {
    font-family: 'Gochi Hand', cursive;
    letter-spacing: 4px;
		text-shadow: none;
		color: white;
}
.navbar {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    box-shadow: 0px 1px 3px #2a2a2a;
    background: image_url('nav-background.jpg');
  }	
.hero {
	background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 370px;
	color: white;
	box-shadow: 0px 3px 8px #2a2a2a;
}
h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}
.frosty {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: 1px dotted white;
	border-radius: 3px;
}
.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	margin: 10px;
	margin-bottom: 0 !important;
	padding: 5px;
	text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	margin: 10px;
	margin-bottom: 0 !important;
	padding: 5px;
	text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
.clear {
	clear: both;
}
.btn {
  border-radius: 0;
}
.feature {
  width: 100%;
  padding-left: 5%;
	padding-right: 5%;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	color: whitesmoke;
}
.feature-box {
	border-radius:2px;
	margin: 3px;
	border: 1px solid whitesmoke;
}
.feature h3 {
	padding: 5px;
}
.first {
	background-color: grey;
}
.second {
	background-color: rgb(60,179,113);
}
.third {
	background-color: rgb(70,130,180);
}
.user-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
	border-radius:5px;
	margin: 3px;
	border: 1px solid whitesmoke;
	color: whitesmoke;
	background-color: #008080;
	padding: 10px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
.user-box h2, .user-box h1 {
	margin: 10px;
}
.lnks {
	color: black;
	font-weight: bold;
}
.nav-link {
	color: white;
	font-size: 13px;
	font-weight: bold;
}
.nav-link:hover, .nav-link:focus {
	color: rgb(87, 136, 241);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
	grid-row-end: 3;
	background-color: rgba(36, 32, 33, 0.9);
	color: white;
	font-family: "Helvetica Neue", Helvetica;
	padding: 10px 0px;
	margin-top: 50px;
	color: #f2efe6;
	border-top: 3px solid #b3aeae;
	bottom: 1px !important;
	width: 100%;
	padding: 10px;
	position: relative;

}
.footer a {
	color: white;
}
.white {
	color: white;
}
// see https://css-tricks.com/couple-takes-sticky-footer/
.course-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
	border-radius:2px;
	margin: 3px;
	border: 1px solid grey;
	color: black;
	background-color: #e8e8e8e8;
	padding: 10px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
.course-box p a {
	color: black;
}
.course-box h2, .user-box h1 {
	margin: 10px;
}
.help-block {
	color: #ff3333;
	background-color:	#FFEEEE;
	border-radius: 3px;
	padding: 2px 8px 2px 8px;
	margin: 10px;
}
.invalid-feedback {
	color: #ff3333;
	background-color:	#FFEEEE;
	border-radius: 3px;
	padding: 2px 8px 2px 8px;
	margin: 10px;
} 
.help-block {
	color: #ff3333;
	background-color:	#FFEEEE;
	border-radius: 3px;
	padding: 2px 8px 2px 8px;
	margin: 10px;
}
.info-box {
	-moz-box-shadow: 1px 1px 2px 0 rgb(105,105,105);
  -webkit-box-shadow: 1px 1px 2px 0 rgb(105,105,105);
  box-shadow: 1px 1px 2px 0 rgb(105,105,105);
	border-radius:2px;
	margin: 3px;
	border: 1px solid green;
	background-color: rgb(255,255,255);
	padding: 10px;
	width: 95%;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
.info-box img {
	width: 100%;
	border-right: 4px solid green;
	border-left: 4px solid green;
	border-radius: 4px;
}
.info-box h2, .user-box h1 {
	margin: 10px;
}
.lesson_ol {
	font-size: 1.75rem;
	font-weight: 500;
}
.subtitle {
	font-size: 1.25rem;
	font-weight: bold;
}
.lesson-text {
	font-size: 1.25rem;
}
.section {
	font-size: 1.5rem;
	font-weight: 500;
	color: rgb(129, 126, 126);
}
.video {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-color: #5DADE2 #2874A6 #2874A6 #5DADE2;
	border-width: 4px 4px 4px 4px;
	border-style: solid;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px 0 rgb(105,105,105);
  -webkit-box-shadow: 1px 1px 2px 0 rgb(105,105,105);
  box-shadow: 1px 1px 2px 0 rgb(105,105,105);
}
.vjs-big-play-centered .vjs-big-play-button {
	top: 50%;
	left: 50%;
	margin-top: -0.75em;
	margin-left: -1.5em;
	color: #1B4F72;
}
.lesson {
	background-color: #1B4F72;
	border-color: #5DADE2 #2874A6 #2874A6 #5DADE2;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	padding: 20px;
	margin: 10px;	
	height: 150px;
	border-radius: 5px;
}
.lesson a {
	color: white;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	font-size: 15px;
}
.lesson a b {
  font-weight: 100;
  font-size: 25px;
}